<div id="header">
  <div style="float: left;height: 75px;"><img src="../../../assets/basic-web/logo.png"></div>
  <div class="gpsLocation"><span><img src="../../../assets/basic-web/locationicon.png"><br/>Hyderabad</span></div>
  <div class="navigation">
      <div class="topnav" id="myTopnav">
          <a href="#home" class="active">Shop</a>
          <a href="#news">Prepare A Drink</a>
          <a href="#news">Recharge Mobile</a>
          <a href="#contact">Hot Deals</a>
          <a href="#about">Discounts</a>
          <p style="float:right;"><span class="logindetails" style="float:right;"><span>Login / Sign Up <span color=""></span></span></span></p>
          <p style="float:right;"><span class="notification" style="float:right;"><span class="glyphicon glyphicon-heart hearticon"></span></span></p>

          <a href="javascript:void(0);" class="icon" (click)="myFunction()">
            <i class="fa fa-bars"></i>
          </a>
        </div>
    
  </div>
</div>
