<div class="container">
    <div class="col-lg-6">
      <h1>goPukkat <br/>Its time to Generate your own Drink, Food with '0' Billing</h1>
    </div>
    <div class="col-lg-6">
      <div class="col-lg-8 col-lg-offset-2 logintabprops">
          <ul class="nav nav-tabs">
              <li class="active" style="width:50%;"><a data-toggle="tab" href="#home">Login</a></li>
              <li style="width:50%;"><a data-toggle="tab" href="#menu1">Sign Up</a></li>
            </ul>
          
            <div class="tab-content tabcontentProps">
              <div id="home" class="tab-pane fade in active">
                <!-- <h3>Login</h3> -->
                <input placeholder="User Mobile / Email" class="form-control custominput" type="text" />
                <input placeholder="Password" class="form-control custominput" type="password" />
                <button class="btn btn-success custombtn" type="button">CHEERS</button>
                <p class="customOr" >OR</p>
                <div class="loginwithbox">
                  <div class="col-lg-4" style="margin-top: 27px;color: #777;">Login with:</div>
                  <div class="col-lg-8" style="text-align: center;">
                      <img src="../../../assets/basic-web/googleicon.png" alt="">
                      <img src="../../../assets/basic-web/fbicon.png" alt="">
                      <img src="../../../assets/basic-web/twittericon.png" alt="">
                    </div>
                </div>
              </div>
              <div id="menu1" class="tab-pane fade">
                <h3>Sign Up</h3>
                <p>Working on it</p>
              </div>
            </div>
      </div>
    </div>
</div>